<%- include("templates/head", { stylesheetPath: ['/styles/gamePage.css', '/styles/nav.css','/styles/foot.css'] }) %> 

<%-include("templates/nav") %>

<h1><%= game %></h1>

<%- include("templates/foot") %>